## Required variables section ##

# Host port mappings
WEB_SERVER_PORT=3000
SSH_SERVER_PORT=2222

# Hostname and URL
FQDN=your.domain.com
NEXTAUTH_URL=https://your.domain.com

# Secrets
NEXTAUTH_SECRET=your-secret
CRONJOB_KEY=your-other-secret

# PUID/PGID: UID and GID the app will run as inside the container.
# Must match the owner of your volume directories on the host.
# Must be > 0 (root is not allowed).
PUID=1000
PGID=1000

# Config and data folders (volume mounts)
# The host folders must be owned by the user with PUID and PGID specified above
CONFIG_PATH=./config
SSH_PATH=./ssh
SSH_HOST=./ssh_host
BORG_REPOSITORY_PATH=./repos

## Optional variables section ##

# LAN feature
FQDN_LAN=
SSH_SERVER_PORT_LAN=

# Disable the DELETE feature
#DISABLE_DELETE_REPO=true

# Disable the integrations (API tokens to CRUD repositories)
#DISABLE_INTEGRATIONS=true

# Hide the SSH port in the UI : quickcommands & wizard
#HIDE_SSH_PORT=true

# SMTP server settings
MAIL_SMTP_FROM=
MAIL_SMTP_HOST=
MAIL_SMTP_PORT=
MAIL_SMTP_LOGIN=
MAIL_SMTP_PWD=
MAIL_REJECT_SELFSIGNED_TLS=

# Force app to start on IPv6
#HOSTNAME=::