.containerSettings {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin-top: 10px;
}

.containerSetting {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 40px 20px 0px 5px;
  text-align: left;
  padding: 28px 24px;
  animation: entrance ease-in 0.3s 1 normal none;
  border-bottom: 1px solid #e5e7eb;
}

@keyframes entrance {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.settingCategory {
  max-width: 33.3333%;
  width: 100%;
  display: flex;
}
.settingCategory h2 {
  color: #494b7a;
  margin: 0;
  font-size: 1.3em;
}

.setting {
  max-width: 66.6666%;
  width: 100%;
}

/* Tokens generation */

.tokenGen {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}

.tokenGen input {
  flex: 1;
  margin-right: 10px;
}

.newTokenWrapper {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  color: #494b7a;
  outline: 1px solid #6d4aff;
  box-shadow: 0 0 10px 3px rgba(110, 74, 255, 0.605);
  animation: entrance ease-in 0.3s 1 normal none;
  padding: 10px;
  font-family: (--pure-material-font, 'Roboto', 'Segoe UI', BlinkMacSystemFont, system-ui);
}

.tokenCardList {
  min-width: 50%;
}

.tokenCardWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tokenCard {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tokenCardHeader {
  font-size: 1.2em;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  color: #494b7a;
}

.tokenCardBody {
  font-size: 0.9em;
}

.tokenCardBody .permissionBadges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: baseline;
  align-content: baseline;
}

.tokenCardBody p {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
  color: #494b7a;
}

.tokenCardHighlight {
  animation: highlightEffect 1s ease-out forwards;
}

@keyframes highlightEffect {
  0% {
    outline: 1px solid #6d4aff;
    box-shadow: 0 0 0 rgba(110, 74, 255, 0.5); /* Pas d'ombre au début */
  }
  50% {
    outline: 1px solid #6d4aff;
    box-shadow: 0 0 15px rgba(110, 74, 255, 0.6); /* Ombre qui s'agrandit */
  }
  100% {
    outline: 1px solid transparent; /* Bordure devient transparente */
    box-shadow: 0;
  }
}

.cancelButton {
  border: 0;
  padding: 10px 15px;
  background-color: #c1c1c1;
  color: white;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}

.cancelButton:hover {
  border: 0;
  padding: 10px 15px;
  background-color: #9a9a9a;
  color: white;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}

.cancelButton:active {
  border: 0;
  padding: 10px 15px;
  background-color: #9a9a9a;
  color: white;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  transform: scale(0.9);
}

.deleteConfirmationButtons {
  display: flex;
  flex-direction: row;
}

.confirmButton {
  border: 0;
  padding: 10px 15px;
  background-color: #ff0000;
  color: white;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 10px;
}

.confirmButton:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

.confirmButton:hover {
  border: 0;
  padding: 10px 15px;
  background-color: #ff4b4b;
  color: white;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}

.confirmButton:active {
  border: 0;
  padding: 10px 15px;
  background-color: #ff4b4b;
  color: white;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  transform: scale(0.9);
}

.permissionBadge {
  user-select: none;
  border-radius: 5px;
  border: 1px solid #6d4aff;
  color: #6d4aff;
  font-size: 0.9em;
  padding: 2px 5px;
  margin-right: 8px;
}

.tokenWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.permissionsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}

.permissionsWrapper .permissionBadge {
  user-select: none;
  border-radius: 5px;
  border: 1px solid #9798b2;
  color: #9798b2;
  font-size: 0.9em;
  margin: 0;
  cursor: pointer;
}

.permissionsWrapper .permissionBadge.highlight {
  border-radius: 5px;
  border: 1px solid #6d4aff;
  color: #6d4aff;
  font-size: 0.9em;
  margin: 0;
  cursor: pointer;
}

/* Forms */

.bwForm {
  width: 80%;
  border-radius: 5px;
  text-align: left;
}

.bwFormWrapper {
  text-align: left;
  margin: auto;
  width: 100%;
  height: auto;
  color: #494b7a;
  font-family: var(
    --pure-material-font,
    'Roboto',
    'Segoe UI',
    BlinkMacSystemFont,
    system-ui,
    -apple-system
  );
}

.bwFormWrapper p {
  margin-block-start: 0em;
}

.bwForm label {
  display: block;
  margin-bottom: 8px;
  text-align: center;
  /* margin-top: 20px; */
  color: #494b7a;
}

.bwForm.tokenGen label {
  margin-bottom: 0px;
}

.bwForm input,
.bwForm textarea,
.bwForm select {
  border: 1px solid #6d4aff21;
  font-size: 16px;
  height: auto;
  margin: 0;
  margin-bottom: 0px;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 5px;
  /* color: #1b1340; */
  color: #494b7a;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  font-family: (--pure-material-font, 'Roboto', 'Segoe UI', BlinkMacSystemFont, system-ui);
}

.bwForm textarea {
  resize: vertical;
  overflow: auto;
  white-space: pre;
}

.bwForm textarea:focus,
.bwForm input:focus,
.bwForm select:focus {
  outline: 1px solid #6d4aff;
  box-shadow: 0 0 10px 3px rgba(110, 74, 255, 0.605);
}

.bwForm .invalid {
  background: #f3c7c7;
  border: 1px solid #e45454;
  outline: 1px solid #ff4a4a;
}

.bwForm .invalid:focus {
  background: #f3c7c7;
  border: 1px solid #e45454;
  outline: 1px solid #ff4a4a;
  box-shadow: 0 0 10px 3px rgba(255, 74, 74, 0.605);
}

.bwForm button {
  display: block;
}
.bwForm button:hover {
  display: block;
}

.errorMessage {
  color: red;
  display: block;
  margin-top: 3px;
}

.currentSetting input::placeholder {
  opacity: 1;
}

.headerFormAppriseUrls {
  font-weight: 500;
  color: #494b7a;
  margin: 40px 0px 10px 0px;
  display: flex;
  padding-right: 5px;
}

.formIsSavedMessage {
  color: rgb(0, 164, 0);
  animation: entrance 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  font-weight: 300;
}

.tabList {
  display: flex;
}

.tabListButton {
  color: #494b7a;
  padding: 12px 0px;
  min-height: 48px;
  overflow: hidden;
  text-align: center;
  flex-direction: column;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.71;
  text-transform: none;
  align-items: center;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  margin-left: 30px;
  border-bottom: 2px solid transparent;
}

.tabListButton:hover {
  color: #6d4aff;
  border-bottom: 2px solid #6d4aff;
}

.tabListButtonActive {
  color: #6d4aff;
  border: 0;
  border-bottom: 2px solid #6d4aff;
  padding: 12px 0px;
  min-height: 48px;
  overflow: hidden;
  text-align: center;
  flex-direction: column;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.71;
  text-transform: none;
  align-items: center;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  background-color: transparent;
  margin-left: 30px;
}

.AccountSettingsButton {
  border: 0;
  padding: 10px 15px;
  background-color: #6d4aff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
}

.AccountSettingsButton:hover {
  border: 0;
  padding: 10px 15px;
  background-color: #4f31ce;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
}

.AccountSettingsButton:active {
  border: 0;
  padding: 10px 15px;
  background-color: #4f31ce;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
  transform: scale(0.95);
}

.AccountSettingsButton:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}
